{% extends 'base.html' %}

{% block content %}
<img style="width: 270px; height: auto;" src="/media/logo.png">
<h1>Wow it seems you have made your guesses on all the clips we have at the moment</h1>
<p>We are adding new clips each day, so have some rest and come back tomorrow!</p>


<a href="{% url 'profile' %}"><p><button class="button" type="button">My profile</button></p></a>
<a href="{% url 'leaderboard' %}"><p><button class="button" type="button">Leaderboard</button></p></a>

{% endblock %}