{% extends 'base.html' %}
{% block content %}
<h2>Guess the rank!</h2>
<p>Watch the clip and decide which rank this game is!</p>
 <h4>{{ video.ign }} ({{video.champion}})</h4>
<div class="yt-border" id="player"></div>


<script src="https://www.youtube.com/iframe_api"></script>
<script>
  function onYouTubeIframeAPIReady() {
    var url = '{{video.url}}';
    var videoId = url.split('v=')[1];
    var player = new YT.Player('player', {
      height: '360',
      width: '640',
      videoId: videoId,
    });
  }
</script>
  <h4>Choose a rank:</h4>
<div style="padding-top: 10px">
 <form method="post">
     <div class="rank">
    {% csrf_token %}
     <label>
    <input type="radio" id="iron" name="guess" value="iron">
     <img class="resize" src="https://lolg-cdn.porofessor.gg/img/s/league-icons-v3/160/1.png" alt="iron">
     </label>

     <label>
    <input type="radio" id="bronze" name="guess" value="bronze">
     <img class="resize" src="https://lolg-cdn.porofessor.gg/img/s/league-icons-v3/160/2.png" alt="bronze">
     </label>

      <label>
    <input type="radio" id="silver" name="guess" value="silver">
     <img class="resize" src="https://lolg-cdn.porofessor.gg/img/s/league-icons-v3/160/3.png" alt="silver">
     </label>

      <label>
    <input type="radio" id="gold" name="guess" value="gold">
     <img class="resize" src="https://lolg-cdn.porofessor.gg/img/s/league-icons-v3/160/4.png" alt="gold">
     </label>

      <label>
    <input type="radio" id="platinum" name="guess" value="platinum">
     <img class="resize" src="https://lolg-cdn.porofessor.gg/img/s/league-icons-v3/160/5.png" alt="platinum">
     </label>

      <label>
    <input type="radio" id="diamond" name="guess" value="diamond">
     <img class="resize" src="https://lolg-cdn.porofessor.gg/img/s/league-icons-v3/160/6.png" alt="diamond">
     </label>

      <label>
    <input type="radio" id="master" name="guess" value="master">
     <img class="resize" src="https://lolg-cdn.porofessor.gg/img/s/league-icons-v3/160/7.png" alt="master">
     </label>

      <label>
    <input type="radio" id="grandmaster" name="guess" value="grandmaster">
     <img class="resize" src="https://lolg-cdn.porofessor.gg/img/s/league-icons-v3/160/8.png" alt="grandmaster">
     </label>

      <label>
    <input type="radio" id="challenger" name="guess" value="challenger">
     <img class="resize" src="https://lolg-cdn.porofessor.gg/img/s/league-icons-v3/160/9.png" alt="challenger">
     </label>
<br>
         </div>
    <button class="button" type="submit">Guess</button>
</form>
    </div>
{% endblock %}


