
body {
    background-color: #333333;
    color: #fff;
    font-family: brush script mt, cursive;
    font-size: 20px;
}
.center {
  margin-left: auto;
  margin-right: auto;
}

.link-url {
     font-family:arial;
     color: #00837e;
}
.link-url:hover {
     color: #cb7a3c;
 }


.container {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 20px;

}

h1 {
    font-size: 52px;
    margin-bottom: 30px;

}

h2 {
    font-size: 52px;
    margin-bottom: 30px;
}
.resize-plus {
    width: 200px;
    height: auto;
    padding: 20px;
}

.resize {
    width: 85px;
    height: auto;
    transition: transform 0.5s ease-in-out;
    padding: 2px;
}

.yt-border {
    border: solid 3px;
    border-color: #00837e;
}



div.rank input {
    display: none;
}

input:checked + img {
  transform: scale(1.5);
}

form > button {
    margin-top: 20px;
}



.button {
    position: relative;
    text-align: center;
    width: 350px;
    padding: 20px;
    font-size: 17px;
    color: #8c9ea3;
    font-family: brush script mt, cursive;
    font-color: white;
    font-weight: 400;
    border: 2px solid #00837e;
    text-transform: uppercase;
    letter-spacing: 5px;
    cursor:pointer;
    border-radius: 100px;
    transition: 0.5s;
    background-color: #212121;
}

.button:hover {
    border: 2px solid #cb7a3c;
    box-shadow: 0 1px 5px 0 #cb7a3c inset, 0 3px 15px 0 #cb7a3c,
                0 1px 5px 0 #cb7a3c inset, 0 3px 15px 0 #cb7a3c;
    text-shadow: 0 0 3px #cb7a3c,
                  0 0 3px #cb7a3c;
}



@media (max-width: 768px) {
  /* Reduce the size of the YouTube player */
  #player {
    height: 240px;
    width: 426px;
  }
  .resize-plus {
    width: 150px;
    height: auto;
    padding: 10px;
  }

  /* Reduce the size of the radio button images */
  .resize {
    width: 40px;
    height: auto;
    transition: transform 0.5s ease-in-out;
    padding: 1px;
  }

  input:checked + img {
    transform: scale(1.5);
  }

  .button {
    -webkit-appearance: none;
    appearance: none;
    position: relative;
    text-align: center;
    width: 150px;
    padding: 10px;
    font-size: 10px;
    color: #8c9ea3;
    font-family: brush script mt, cursive;
    font-color: white;
    font-weight: 400;
    border: 2px solid #00837e;
    text-transform: uppercase;
    letter-spacing: 3px;
    cursor:pointer;
    border-radius: 100px;
    transition: 0.5s;
    background-color: #212121;
  }

  h1 {
    font-size: 36px;
  }
    h2 {
    font-size: 28px;
    margin-bottom: 15px;
    }
    h4 {
    font-size: 14px;
    }

  body {
    background-color: #333333; !important
    color: #fff;
    font-family: brush script mt, cursive;
    font-size: 20px;
  }
   .container {
        max-width: 90%;
    }

}

