{% extends "base.html" %}

{% block content %}
<h1>Sign in!</h1>
  {% if form.errors %}
    <p>Prisijungimo klaida, bandykite dar kartą!</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>Neturite prieigos prie šios informacijos. Turite prisijungti.</p>
    {% endif %}
  {% endif %}
<div class="row justify-content-center mt-5">
  <div class="col-auto">
  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table class="table-responsive">
      <tr>
        <td>Username: </td>
        <td>{{ form.username }}</td>
      </tr>
      <tr>
        <td>Password: </td>
        <td>{{ form.password }}</td>
      </tr>
    </table>

    <input type="submit" class="button" style="margin-top:50px;" value="Let me in!" />
    <input type="hidden" name="next" value="{{ next }}" />
  </form>
</div>
</div>
<br>
  <p><a href="{% url 'password_reset' %}" class="link-url">Forgot password?</a></p>

{% endblock %}